Dataset/train-sample.csv
Misclassifications/False Prediction of Close.csv
Misclassifications/False Prediction of Open.csv
Models/best_fine_tuned_bert.pth
Models/best_fine_tuned_bert_closed_multiclass .pth
Models/best_fine_tuned_bert_multiclass .pth
Models/cbow_model.model
Models/skipgram_model.model
Preprocessed_files/preprocessed_with_summary.csv
Preprocessed_files/sample_train_tokens_with_stop_words.csv
Preprocessed_files/tokens_sample_train.csv
Preprocessed_files/train-sample_with_code.csv
Preprocessed_files/train.csv
Preprocessed_files/with_code_embeddings.csv
Preprocessed_files/with_embedding.csv
